<!DOCTYPE html>
<html ng-app='CORSDemo'>
<head>

	<title>CORS demo</title>

</head>
	
	<link rel="stylesheet" href="main.css">

<body>
	
	<div>
	
		<h1>YouTube embedded results</h1>
	
	</div>

	<div ng-controller="ytCtrl">

		<form ng-submit="searchYouTube(keyword)">
		
			<input type="text" ng-model="keyword">
		
			<input type="submit">
		
		</form>

		<div class="results" ng-if="results">
			
			<p>search found {{ results.length }} for {{ keyword }}</p>

			<div ng-repeat="result in results">
				
				<iframe ng-src="{{ trustSrc(result.id.videoId) }}" frameborder="0" width="480" height="390"></iframe>

			</div>

		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

	<script src="app.js"></script>

</body>
</html>