<!DOCTYPE html>
<html ng-app=''>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<link rel="stylesheet" href="main.css">
</head>
<body ng-init="classes='one two three'; title='An excellent title'; numbers=[0,1,2,3,4,5]">

	<div class="{{ classes }}">
		
		<h1>{{ title }}</h1>

		<div ng-repeat="number in numbers | filter:myValue">

			<p>{{ number }}</p>

			<button ng-click="numbers.splice(numbers.length-1,1)">X</button>

		</div>		

		<button ng-click="numbers.push(numbers.length)">push</button>

		<input type="text" ng-model="myValue">

		<p>{{ myValue }}</p>

		<button ng-click="myValue='newtext'">newtext</button>

		<div ng-if="myValue=='newtext'" class="pass">
			<p>you did it</p>
		</div>

		<div ng-if="myValue=='3'" class="pass">
			<p>3 also works</p>
		</div>

		<div ng-if="myValue!=='newtext' && myValue!=='3'" class="fail">
			<p>wrong</p>
		</div>

	</div>

</body>
</html>